<h2><%@plots.each do |plot|%></h2>
  <div id="plot-<%=plot.id%>">
    <h3>Plot number: <%= plot.number %></h3>
    <h3><%plot.plants.each do |plant|%></h3>
      <h3><%= plant.name %></h3>
    <%end%>
      <br>
  </div>
<%end%>